<%- include('header.ejs') -%>

  

<form class="form-signin">
    <h1 class="h3 mb-3 font-weight-normal">Giriş Yapın</h1>
    <label for="username" class="sr-only">Kullanıcı</label>
    <input type="text" id="username" class="form-control" placeholder="Kullanıcı Adı" autofocus="" name="usr">
    <label for="inputPassword" class="sr-only">Şifre</label>
    <input type="password" class="form-control" placeholder="Şifre" id="password" name="pass">

    <button class="btn btn-lg btn-primary btn-block" type="button" id="login" style="margin-top: 10px;">Giriş Yap</button>

  </form>



<%- include('footer.ejs') -%>